certifi==2018.4.16
cffi==1.7.0
chardet==3.0.4
defusedxml==0.5.0
Django==1.9.9
django-allauth==0.27.0
django-bootstrap3==7.0.1
django-braces==1.9.0
django-debug-toolbar==1.5
idna==2.7
misaka==2.0.0
oauthlib==2.1.0
pycparser==2.14
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
sqlparse==0.2.1
urllib3==1.24.2
